<div class="mt-8 mx-4">
  <h2 class="text-3xl sm:text-4xl text-gray-700 dark:text-white font-extrabold tracking-tight mb-4">Sign up</h2>

  <form id="new_user" action="/users" method="post" class="new_user p-4 bg-blue-50 dark:bg-gray-800 dark:text-gray-50 border border-blue-500 dark:border-gray-500 rounded-lg shadow-md">
    <div class="field">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
    </div>
    <div class="mb-6 field">
      <label for="user_email" class="text-md tracking-wide font-semibold text-gray-600 dark:text-gray-400 mb-2 block">Your email</label>
      <input type="email" id="user_email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="your@email.com" required="" autofocus="autofocus" autocomplete="email" value name="user[email]">
    </div>
    <div class="mb-6 field">
      <label for="user_password" class="text-md tracking-wide font-semibold text-gray-600 dark:text-gray-400 mb-2 block">Your password</label>
      <input type="password" id="user_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" placeholder="Your password (6 characters minimum)" autocomplete="new-password" name="user[password]">
    </div>
    <div class="mb-2 field">
      <label for="user_password_confirmation" class="text-md tracking-wide font-semibold text-gray-600 dark:text-gray-400 mb-2 block">Password confirmation</label>
      <input type="password" id="user_password_confirmation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" placeholder="Repeat password (passwords should match)" autocomplete="new-password" name="user[password_confirmation]">
    </div>    
    <button type="submit" name="commit" value="Sign up" data-disable-with="Sign up" class="md:w-32 bg-blue-600 dark:bg-gray-100 text-white dark:text-gray-800 font-bold py-3 px-6 rounded-lg mt-2 mb-4 hover:bg-blue-500 dark:hover:bg-gray-200 transition ease-in-out duration-300">Sign up</button>
  </form>
</div>