<!-- Client Table -->
<div class="mt-4 mx-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <h2 class="text-3xl sm:text-4xl text-gray-800 dark:text-white font-extrabold tracking-tight">Users table</h2>
      <table class="w-full">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">User</th>
            <th class="px-4 py-3">Items resolved</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Date</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="<%= asset_path('problem.png') %>" alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">Hans Burger</p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">10x Developer</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">$855.85</td>
            <td class="px-4 py-3 text-xs">
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"> Approved </span>
            </td>
            <td class="px-4 py-3 text-sm">15-01-2021</td>
          </tr>
          <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="<%= asset_path('problem.png') %>" alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">Jolina Angelie</p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">Unemployed</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">$369.75</td>
            <td class="px-4 py-3 text-xs">
              <span class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full"> Pending </span>
            </td>
            <td class="px-4 py-3 text-sm">23-03-2021</td>
          </tr>
          <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="<%= asset_path('problem.png') %>" alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">Dave Li</p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">Influencer</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">$775.45</td>
            <td class="px-4 py-3 text-xs">
              <span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700"> Expired </span>
            </td>
            <td class="px-4 py-3 text-sm">09-02-2021</td>
          </tr>
          <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="<%= asset_path('problem.png') %>" alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">Hitney Wouston</p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">Singer</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">$863.45</td>
            <td class="px-4 py-3 text-xs">
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"> Denied </span>
            </td>
            <td class="px-4 py-3 text-sm">11-01-2021</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ./Client Table -->