<aside class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-blue-900 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
  <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
    <ul class="flex flex-col py-4 space-y-1">
      <li class="px-5 hidden md:block">
        <div class="flex flex-row items-center h-8">
          <div class="text-sm font-light tracking-wide text-gray-400 uppercase">IssueTraker</div>
        </div>
      </li>
      <li>
        <a href="/" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M18.21,16.157v-8.21c0-0.756-0.613-1.368-1.368-1.368h-1.368v1.368v1.368v6.841l-1.368,3.421h5.473L18.21,16.157z"></path>
            <path fill="none" d="M4.527,9.316V7.948V6.579H3.159c-0.756,0-1.368,0.613-1.368,1.368v8.21l-1.368,3.421h5.473l-1.368-3.421V9.316z"></path>
            <path fill="none" d="M14.766,5.895h0.023V5.21c0-2.644-2.145-4.788-4.789-4.788S5.211,2.566,5.211,5.21v0.685h0.023H14.766zM12.737,3.843c0.378,0,0.684,0.307,0.684,0.684s-0.306,0.684-0.684,0.684c-0.378,0-0.684-0.307-0.684-0.684S12.358,3.843,12.737,3.843z M10,1.448c0.755,0,1.368,0.613,1.368,1.368S10.755,4.185,10,4.185c-0.756,0-1.368-0.613-1.368-1.368S9.244,1.448,10,1.448z"></path>
            <path fill="none" d="M14.789,6.579H5.211v9.578l1.368,1.368h6.841l1.368-1.368V6.579z M12.052,12.052H7.948c-0.378,0-0.684-0.306-0.684-0.684c0-0.378,0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.306,0.684,0.684C12.737,11.746,12.431,12.052,12.052,12.052z M12.052,9.316H7.948c-0.378,0-0.684-0.307-0.684-0.684s0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.307,0.684,0.684S12.431,9.316,12.052,9.316z"></path></svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Board</span>
          <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">New</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M17.645,7.262c-0.238-0.419-0.547-0.681-0.889-0.681C15.971,3.462,13.43,0.5,11.192,0.5C10.79,0.5,10.39,0.598,10,0.772C9.61,0.598,9.21,0.5,8.808,0.5c-2.238,0-4.779,2.962-5.564,6.08c-0.342,0-0.651,0.262-0.889,0.681C1.302,7.294,0.542,8.415,0.542,9.958c0,1.566,0.781,2.702,1.858,2.702c0.212,0,0.409-0.056,0.594-0.139c0.478,1.431,1.355,1.868,1.939,1.997v2.195c0,0.187,0.151,0.338,0.338,0.338c0.187,0,0.338-0.151,0.338-0.338v-0.778c0.488,0.874,1.471,1.566,2.702,1.903v0.564c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-0.418c0.22,0.034,0.446,0.056,0.676,0.068v1.026c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-1.026c0.23-0.012,0.456-0.033,0.676-0.068v0.418c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338V17.84c1.232-0.337,2.215-1.029,2.702-1.903v0.778c0,0.187,0.151,0.338,0.338,0.338s0.338-0.151,0.338-0.338v-2.195c0.587-0.131,1.462-0.569,1.939-1.997c0.186,0.083,0.382,0.139,0.594,0.139c1.077,0,1.858-1.137,1.858-2.702C19.458,8.415,18.698,7.294,17.645,7.262z M2.4,11.647c-0.466,0-0.844-0.756-0.844-1.689c0-0.558,0.137-1.049,0.346-1.357c0.487,0.122,1.083,0.582,1.276,2.018C3.048,11.224,2.749,11.647,2.4,11.647z M12.094,7.98c0.171-0.171,0.737,0.119,1.264,0.647c0.528,0.528,0.817,1.094,0.647,1.264c-0.171,0.171-0.737-0.119-1.264-0.647C12.213,8.717,11.923,8.151,12.094,7.98z M6.66,8.627C7.188,8.099,7.754,7.81,7.924,7.98c0.171,0.171-0.119,0.737-0.647,1.264C6.75,9.772,6.184,10.062,6.013,9.891C5.843,9.721,6.132,9.155,6.66,8.627z M14.701,13.216c-0.04,0.005-0.08,0.008-0.12,0.008c-0.76,0-1.409-0.939-1.484-1.051c-1.236-1.855-3.078-1.876-3.097-1.876c-0.075,0.001-1.869,0.034-3.097,1.876c-0.079,0.118-0.798,1.144-1.604,1.043c-0.451-0.061-0.796-0.439-1.025-1.124l0.641-0.214c0.134,0.402,0.306,0.645,0.472,0.668c0.286,0.041,0.735-0.424,0.953-0.749C7.776,9.646,9.91,9.621,10,9.621s2.224,0.025,3.659,2.177c0.218,0.325,0.683,0.789,0.953,0.748c0.166-0.022,0.338-0.266,0.472-0.668l0.641,0.214C15.497,12.777,15.152,13.155,14.701,13.216z M17.6,11.647c-0.349,0-0.649-0.424-0.777-1.028c0.193-1.435,0.789-1.895,1.276-2.018c0.209,0.308,0.346,0.798,0.346,1.357C18.445,10.891,18.067,11.647,17.6,11.647z"></path></svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Messages</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M5.92,11.7c-0.091,0-0.178-0.013-0.265-0.027l-2.433,6.487h5.395l-2.433-6.487C6.097,11.687,6.01,11.7,5.92,11.7z"></path>
            <path fill="none" d="M4.254,10.34H0.479l2.11,7.573l2.429-6.477C4.631,11.193,4.348,10.803,4.254,10.34z"></path>
            <path fill="none" d="M7.585,10.34c-0.094,0.463-0.378,0.853-0.764,1.096l2.429,6.477l2.019-7.573H7.585z"></path>
            <path fill="none" d="M5.018,8.564L2.589,2.087L0.479,9.66h3.775C4.348,9.197,4.631,8.807,5.018,8.564z"></path>
            <path fill="none" d="M5.92,8.3c0.091,0,0.178,0.013,0.265,0.027l2.433-6.487H3.222l2.433,6.487C5.742,8.313,5.829,8.3,5.92,8.3z"></path>
            <path fill="none" d="M7.585,9.66h3.684L9.25,2.087L6.821,8.564C7.208,8.807,7.491,9.197,7.585,9.66z"></path>
            <circle fill="none" cx="5.92" cy="10" r="0.68"></circle>
            <path fill="none" d="M11.763,8.872L12.064,10l-0.301,1.128c0.184,0.101,0.392,0.164,0.617,0.164c0.712,0,1.292-0.58,1.292-1.292s-0.58-1.292-1.292-1.292C12.156,8.708,11.947,8.771,11.763,8.872z"></path>
            <path fill="none" d="M12.55,8.368c0,0.007-0.006,0.01-0.007,0.017c0.327,0.033,0.623,0.16,0.864,0.357c0.004-0.005,0.002-0.011,0.007-0.016l0.637-0.637c-0.408-0.357-0.927-0.583-1.501-0.622V8.368z"></path>
            <path fill="none" d="M11.438,7.652l0.236,0.887c0.168-0.08,0.35-0.135,0.543-0.155c-0.001-0.006-0.007-0.01-0.007-0.017V7.467C11.938,7.485,11.681,7.555,11.438,7.652z"></path>
            <path fill="none" d="M12.21,12.533v-0.901c0-0.007,0.006-0.01,0.007-0.017c-0.193-0.019-0.375-0.075-0.543-0.155l-0.236,0.887C11.681,12.445,11.938,12.515,12.21,12.533z"></path>
            <path fill="none" d="M14.913,10.17h-0.901c-0.007,0-0.01-0.006-0.017-0.007c-0.033,0.327-0.16,0.623-0.357,0.864c0.005,0.004,0.011,0.002,0.016,0.007l0.637,0.637C14.649,11.263,14.875,10.744,14.913,10.17z"></path>
            <path fill="none" d="M14.291,8.329l-0.637,0.637c-0.004,0.004-0.011,0.003-0.016,0.007c0.197,0.241,0.324,0.537,0.357,0.864c0.006-0.001,0.01-0.007,0.017-0.007h0.901C14.875,9.256,14.649,8.737,14.291,8.329z"></path>
            <path fill="none" d="M14.051,11.911l-0.637-0.637c-0.004-0.004-0.003-0.011-0.007-0.016c-0.241,0.197-0.537,0.324-0.864,0.357c0.001,0.006,0.007,0.01,0.007,0.017v0.901C13.124,12.494,13.643,12.268,14.051,11.911z"></path>
            <path fill="none" d="M17.345,1.839h-6.529L10.352,3.58l0.624,2.34h1.064c2.285,0,4.08,1.882,4.08,4.08v0c0,2.254-1.827,4.08-4.08,4.08h-1.064l-0.624,2.34l0.464,1.741h6.529L19.521,10L17.345,1.839z"></path></svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Notifications</span>
          <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">1.2k</span>
        </a>
      </li>
      <li class="px-5 hidden md:block">
        <div class="flex flex-row items-center mt-5 h-8">
          <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Settings</div>
        </div>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><circle fill="none" cx="7.884" cy="11.397" r="0.699"></circle>
            <circle fill="none" cx="12.076" cy="11.397" r="0.699"></circle>
            <path fill="none" d="M17.685,5.808c-0.257,0-0.502,0.053-0.73,0.139C16.64,2.737,13.649,0.219,10,0.219c-3.649,0-6.64,2.518-6.955,5.728c-0.228-0.086-0.473-0.139-0.73-0.139c-1.153,0-2.096,0.943-2.096,2.096v3.493c0,1.153,0.943,2.096,2.096,2.096c0.28,0,0.547-0.058,0.792-0.158c0.113,1.088,0.304,1.795,0.585,2.254c0.539,0.834,4.139,4.192,6.288,4.192c2.149,0,5.751-3.361,6.272-4.167c0.292-0.476,0.488-1.196,0.602-2.296c0.255,0.112,0.536,0.175,0.831,0.175c1.153,0,2.096-0.943,2.096-2.096V7.904C19.781,6.751,18.838,5.808,17.685,5.808zM15.078,14.855c-0.482,0.746-3.715,3.529-5.099,3.529s-4.616-2.783-5.097-3.525c-0.319-0.521-0.444-1.919-0.489-3.297c0.004-0.055,0.017-0.108,0.017-0.164V8.603c0-0.04,0.005-0.078,0.006-0.118C4.779,8.56,5.156,8.603,5.545,8.603c1.994,0,3.706-1.037,4.455-2.519c0.749,1.482,2.461,2.519,4.455,2.519c0.389,0,0.766-0.043,1.128-0.118c0.001,0.039,0.006,0.078,0.006,0.118c0,0.077-0.008,0.152-0.012,0.229C15.598,10.276,15.641,13.938,15.078,14.855z"></path></svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M5.177,17.658c0,0,3.445,1.987,4.823,1.987c2.067,0,4.823-1.987,4.823-1.987c0.024-0.025,0.044-0.054,0.068-0.08H5.109C5.133,17.604,5.153,17.633,5.177,17.658z M8.622,1.583V0.531C6.496,0.973,2.539,2.521,1.376,7.933H0.699c-0.189,0-0.344,0.155-0.344,0.344v1.378C0.354,9.845,0.509,10,0.699,10h0.392c-0.016,0.224-0.026,0.454-0.033,0.689H0.699c-0.189,0-0.344,0.155-0.344,0.344v1.378c0,0.189,0.155,0.344,0.344,0.344h0.439c0.089,0.79,0.262,1.804,0.594,2.849v2.663H4.34c-2.233-2.449-2.264-6.822-2.264-7.01C2.077,4.052,6.353,2.108,8.622,1.583zM10.689,0.354H9.311v2.059h1.378V0.354z M11.378,2.63v0.472H8.622V2.63C6.612,3.147,3.11,4.951,3.11,11.258c0,0,0.004,3.373,1.47,5.632h4.042v-0.689h2.756v0.689h4.042c1.466-2.259,1.47-5.632,1.47-5.632C16.89,4.951,13.388,3.147,11.378,2.63z M5.005,12.035c-0.318-0.364-0.517-0.833-0.517-1.354S4.687,9.69,5.005,9.327V12.035zM6.383,10.026c-0.295,0.078-0.517,0.335-0.517,0.654c0,0.319,0.222,0.576,0.517,0.654v1.395c-0.384-0.032-0.738-0.163-1.033-0.377V9.008c0.296-0.214,0.649-0.345,1.033-0.377V10.026z M7.761,12.353c-0.296,0.214-0.649,0.345-1.033,0.377v-1.395C7.022,11.257,7.244,11,7.244,10.681c0-0.319-0.222-0.576-0.517-0.654V8.631c0.384,0.032,0.738,0.163,1.033,0.377V12.353zM8.105,12.035V9.327c0.318,0.363,0.517,0.833,0.517,1.354S8.423,11.671,8.105,12.035z M10,13.445l-1.378,0.689L10,12.756l1.378,1.378L10,13.445z M11.895,12.035c-0.318-0.364-0.517-0.833-0.517-1.354s0.199-0.991,0.517-1.354V12.035z M13.273,10.026c-0.295,0.078-0.517,0.335-0.517,0.654c0,0.319,0.222,0.576,0.517,0.654v1.395c-0.384-0.032-0.738-0.163-1.033-0.377V9.008c0.296-0.214,0.649-0.345,1.033-0.377V10.026z M14.651,12.353c-0.296,0.214-0.649,0.345-1.033,0.377v-1.395c0.295-0.078,0.517-0.335,0.517-0.654c0-0.319-0.222-0.576-0.517-0.654V8.631c0.384,0.032,0.738,0.163,1.033,0.377V12.353zM14.995,12.035V9.327c0.318,0.363,0.517,0.833,0.517,1.354S15.313,11.671,14.995,12.035z M19.646,9.656V8.278c0-0.189-0.155-0.344-0.344-0.344h-0.678c-1.163-5.413-5.12-6.96-7.246-7.402v1.052c2.269,0.525,6.545,2.469,6.545,9.675c0,0.188-0.031,4.561-2.264,7.01h2.608v-2.663c0.333-1.044,0.505-2.058,0.594-2.849h0.439c0.189,0,0.344-0.155,0.344-0.344v-1.378c0-0.189-0.155-0.344-0.344-0.344h-0.359c-0.007-0.235-0.017-0.465-0.033-0.689h0.392C19.491,10,19.646,9.845,19.646,9.656z"></path>
            </svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Settings</span>
        </a>
      </li>
    </ul>
    <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs">Kurapka, &copy;2022</p>
  </div>
</aside>